.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffb300;
  height: 50px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 32px;
  color: black;
}

.Header-content {
  margin-left: 20px;
}

.App-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 20px;
}

.Menu-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 20px;
}

.position {
  border-radius: 10px;
  border: 2px solid black;
  padding: 10px;
  display: grid;
  grid-template-columns: 130px auto;
  margin: 20px;
  background-color: aliceblue;
}

.position button {
  padding: 10px;
  width: 40px;
  height: 40px;
  font-size: 16px;
  margin: 20px;
  background-color: #ffb300;
  border: 2px solid black;
  border-radius: 5px;
}

.position button:hover {
  background-color: #ff9900;
  cursor: pointer;
}

.position span {
  font-size: 20px;
}

.add {
  text-align: end;
}